
        <div class="row-start-1 col-span-full mt-[55] flex flex-col justify-center items-center h-2/5 max-md:h-3/4 z-9">
            <p class="text-wrap text-3xl font-bold hyphens-auto text-gray-900 dark:text-stone-100">
                Certifications AND
            </p>
            <p class="text-3xl font-bold text-orange-600">Trainings</p>
        </div>
        <div class="text-center text-wrap text-gray-900 dark:text-stone-100 md:row-start-1 max-md:row-start-2 col-span-full md:mt-[500] flex flex-col items-center h-2/5 max-md:h-3/4 max-md:text-sm max-md:ml-2 z-9">
            <p class="relative before:content-[''] before:absolute before:block before:w-full before:h-[2px]
              before:bottom-0 before:left-0 before:bg-black dark:before:bg-white
              before:hover:scale-x-100 before:scale-x-0 before:origin-top-left
              before:transition before:ease-in-out before:duration-300 mb-2">Offensive Security Certified Practitioner (OSCP)</p>
            <p class="relative before:content-[''] before:absolute before:block before:w-full before:h-[2px]
              before:bottom-0 before:left-0 before:bg-black dark:before:bg-white
              before:hover:scale-x-100 before:scale-x-0 before:origin-top-left
              before:transition before:ease-in-out before:duration-300 mb-2">Offensive Security Wireless Professional (OSWP)</p>
            <p class="relative before:content-[''] before:absolute before:block before:w-full before:h-[2px]
              before:bottom-0 before:left-0 before:bg-black dark:before:bg-white
              before:hover:scale-x-100 before:scale-x-0 before:origin-top-left
              before:transition before:ease-in-out before:duration-300 mb-2">Certified Red Team Operator (CRTO)</p>
            <p class="relative before:content-[''] before:absolute before:block before:w-full before:h-[2px]
              before:bottom-0 before:left-0 before:bg-black dark:before:bg-white
              before:hover:scale-x-100 before:scale-x-0 before:origin-top-left
              before:transition before:ease-in-out before:duration-300 mb-2">Malware Development Academy</p>
        </div>


